[user]
    name = shuaikai
    email = wddjwk@qq.com

[init]
    defaultBranch = main

[core]
    editor = nvim
    autocrlt = input
    pager = delta
	symlinks = true

[pull]
	rebase = false

; [merge]
;     conflictstyle = zdiff3

[diff]
	tool = vimdiff

[interactive]
    diffFilter = delta --color-only

[credential]
	helper = store

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true
    side-by-side = true
    line-numbers = false

[alias]
    lg=log --color --graph --pretty=format:'%Cred%h%Creset-%C(yellow)%d%Creset%s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lng=log --color --pretty=format:'%Cred%h%Creset-%C(yellow)%d%Creset%s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
