[user]
    name = wddjwk
    email = wddjwk@qq.com

[init]
    defaultBranch = main

[core]
    editor = vim
    autocrlf = true
    pager = delta

[pull]
	rebase = true

; [merge]
;     conflictstyle = zdiff3

[diff]
	tool = vimdiff

[interactive]
    diffFilter = delta --color-only

[credential "helperselector"]
    selected = manager

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true
    side-by-side = true
    line-numbers = true

